{% load static %}


<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Balunand</title>
    <meta name="description" content="Visia. Responsive One Page Portfolio.">
    <meta name="keywords" content="visia, responsive, one page, portfolio, parallax, template, html5">
    <meta name="author" content="Aether Themes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}">
    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/loader.css' %} ">
    <link rel="stylesheet" type="text/css" href=" {% static 'stylesheets/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/formstyle.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/colors/ruby-red.css' %}">


    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/animations.css'  %}">
</head>

<body class="royal_loader">
    <nav class="clearfix">
        <div class="logo">
            <a id="top" href="#"><img src="{% static 'images/ca_logo.png' %} " width="101" height="40" alt=""></a>
        </div>
        <button type="button" class="nav-button" data-toggle="collapse" data-target=".nav-content">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navigation">
            <ul class="nav-content">
                <li><a class="active" href="#section1">Home</a></li>
                <li><a href="#section2">About Us</a></li>
                <li><a href="#section3">Services</a></li>
                <li><a href="#section4">Our team</a></li>
                <li><a href="#section5">Career</a></li>
                <li><a href="#section7">Contact</a></li>

                {% if user.is_authenticated %}

                       <li>Hello ,{{user.first_name}}</li>
                <li><a href="logout">Logout</a></li>

                 {% endif %}

            </ul>
        </div>
    </nav>

    <!-- Begin Home -->
    <section id="section1" class="parallax-bg1 hero parallax clearfix">


        <div class="dark content container">


            <div class="ticker">
                <h1>Year Of Establishment:1987</h1>
                <h1>ICAI REGISTRATIONNo:FR 000367s</h1>
                <h1>Dun & Bradstreet Global Database Registration No: 67-676 - 7686</h1>
            </div>


            <ul class="call-to-action">
                <li><a class="button" href="#section2">Learn more</a></li>
            </ul>

        </div>

    </section>
    <!-- End Home -->

    <!-- Begin About -->
    <section id="section2" class="content container">

        <!-- Text -->
        <div class="title grid-full">
            <h2>About us</h2>
            <span class="border"></span>
            <p class="sub-heading">This site is intended to be a medium to disseminate useful information to audit
                entities, taxpayers and other groups of persons who would interact with our firm apart from enabling our
                existing clients to obtain online services and have ready access to information pertaining to their
                individual matters handled by us. Other relevant and current information considered useful to general
                public in the fields of audit, taxation, corporate and business laws will also be found in this site.
            </p>
        </div>

        <!-- Image -->
        <img class="animated slide" data-appear-bottom-offset="100" src="{% static 'images/about.jpg' %}" alt="About Visia">
    </section>
    <!-- End About -->

    <!-- Begin Services -->
    <section id="section3" class="parallax-bg2 parallax colored clearfix">
        <div class="content dark padded container">

            <!-- Text -->
            <div class="title grid-full">
                <h2>Services</h2>
                <span class="border"></span>
                <p class="sub-heading"></p>
            </div>

            <!-- Icons -->
               {% for tech in  dest1 %}
           
            <ul class="icons clearfix">

               <!-- Single Icon -->
                
                <!-- Single Icon -->
               

                <!-- Single Icon -->
               
                <!-- Single Icon -->
                <li class="overview animated entrance" data-appear-bottom-offset="100">

                    <!-- Feature List -->
                    <div class="tooltip">
                        <ul class="feature-list">
                            {% comment %} <li><span class="list-dot"></span>Registration of Private and Public Companies Assistance in
                                statutory requirements connected with maintenance of records and filing of documents etc
                            </li> {% endcomment %}

                            <li><span class="list-dot"></span>
                            </li>

                        </ul>
                    </div>
                    <span class="arrow-down"></span>

                    <!-- Icon -->
                    <div class="icon social"></div>

                    <!-- Title -->
                    <h5>{{  tech.name }}</h5>
                </li>

                <!-- Single Icon -->
               
                  </ul>
            {% endfor %}
        </div>

    </section>
    <!-- End Services -->


    <!-- Begin Team -->
    <section id="section4" class="content container">
        <div class="title grid-full">
            <h2>The team</h2>
            <span class="border"></span>
        </div>
        <ul class="team-list clearfix">
            <li class="team-member grid-half">
                <div class="name">
                    <h4>R.E.Balasubramanyam</h4>
                    <h6><em>designer</em></h6>
                </div>
                <p>Balasubramanyam is a graduate in commerce from the Bangalore University and qualified as aChartered
                    Accountant in 1987. He holds a post-qualification diploma in International Trade Lawsand WTO matters
                    from the ICAI and is also a Law Graduate. His areas of expertise are in direct taxes including
                    international taxation, transfer pricing, and representation before appropriate appellate
                    authorities and tribunals, corporatelaw matters and audit, and assurance services.</p>
                <ul class="social-list">
                    <li><a href="http://www.facebook.com" target="_blank"><i class="social-icon facebook small"></i></a>
                    </li>
                    <li><a href="http://www.twitter.com" target="_blank"><i class="social-icon twitter small"></i></a>
                    </li>
                </ul>
            </li>
            <li class="team-member grid-half">
                <div class="name">
                    <h4>A.V. Muralidharan </h4>
                    <h6><em>founder</em></h6>
                </div>
                <p>Muralidharan has a Bachelor’s Degree in Science and became a member of the Institute of Chartered
                    Accountants of India in the year 1975 and a member of Institute of Company Secretaries in 1983. He
                    has worked as Director & General Manager for New India Assurance Company Ltd and also held the
                    position of Chariman and Managing Director of Export Credit Guarantee Corporation of India Ltd. He
                    was also a Director in Exim Bank. His areas of expertise include insurance and risk management,
                    investment and treasury management, arbitration and conciliation proceedings tax consultancy and
                    representation before appropriate statutory authorities and tribunals, corporate law matters and
                    audit and assurance services.</p>
                <ul class="social-list">
                    <li><a href="http://www.google.com" target="_blank"><i class="social-icon google small"></i></a>
                    </li>
                    <li><a href="http://www.linkedin.com" target="_blank"><i class="social-icon linkedin small"></i></a>
                    </li>
                </ul>
            </li>
            <li class="team-member grid-half">
                <div class="name">
                    <h4>N.K.Srinivas Bharath </h4>
                    <h6><em>developer</em></h6>
                </div>
                <p>Srinivas has a Bachelor’s Degree in Commerce from the University of Mysore andbecame a member of the
                    Institute of Chartered Accountants of India in the year 2002. He holds apost-qualification diploma
                    in Information Systems Audit from the ICAI and is also a GraduateMember of the Institute of Cost and
                    Works Accountants of India. His areas of expertise include audit,and assurance services and
                    management.</p>
                <ul class="social-list">
                    <li><a href="http://www.facebook.com" target="_blank"><i class="social-icon facebook small"></i></a>
                    </li>
                    <li><a href="http://www.behance.net" target="_blank"><i class="social-icon behance small"></i></a>
                    </li>
                </ul>
            </li>
            <li class="team-member grid-half">
                <div class="name">
                    <h4>Ashok S. Navalgund </h4>
                    <h6><em>developer</em></h6>
                </div>
                <p>Ashok has a Bachelor’s Degree in Commerce from the University of Mysore andbecame a member of the
                    Institute of Chartered Accountants of India in the year 2004. His areas ofexpertise include audit,
                    and assurance services, appraisal of and implementation of accountingsystems and controls in
                    government entities.</p>
                <ul class="social-list">
                    <li><a href="http://www.facebook.com" target="_blank"><i class="social-icon facebook small"></i></a>
                    </li>
                    <li><a href="http://www.behance.net" target="_blank"><i class="social-icon behance small"></i></a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- <img class="animated slide" src="images/team.jpg" alt="team" data-appear-bottom-offset="150"> -->
    </section>
    <!-- End Team -->

    <!-- Begin Career -->
    <section id="section5" class="content container">

        <!-- Text -->
        <div class="title grid-full">
            <h2>Career</h2>
            <span class="border"></span>
            <p class="sub-heading">It is matter of pride for us to state that all those who started their careers in our
                organization either as trainees or audit assistants are doing extremely well, with some of them heading
                their respective departments in reputed companies. The following placements are available.</p>
            <ul class="team-list clearfix">
                <li class="team-member grid-2">
                    <div class="name">
                        <h5>Articled / Audit Trainees</h5>
                        <!-- <h6><em>designer</em></h6> -->
                    </div>
                    <p>This is a compulsory internship required to be undergone by every person desiring to become a
                        Chartered Accountant. The period of training is normally for Three years, during which the
                        student simultaneously appears for the examinations conducted by the ICAI. We offer hands-on
                        exposure to the student in all aspects of Auditing, Taxation and Corporate laws and financial
                        management under the guidance and supervision of seniors and the partners. Minimum qualification
                        is a pass in the First Group of IPCC Examination conducted by the ICAI.</p>

                </li>

                <li class="team-member grid-2">


                    <div class="name">
                        <h5>Audit & Accounts Executives And Admin Staff </h5>
                        <!-- <h6><em>developer</em></h6> -->
                    </div>
                    <p>This is a pure employment opportunity for those with or without prior experience. Minimum desired
                        qualification would be graduation in Commerce stream.</p>

                </li>
                <li class="team-member grid-2">
                    <div class="name">
                        <h5>Professional Assignments</h5>
                        <!-- <h6><em>developer</em></h6> -->
                    </div>
                    <p>We also maintain a panel of professionals and experienced persons to whom specific assignments
                        are given on a case-to-case basis. Such assignments normally include handling audits, taxation
                        and company law matters in courts and tribunals, giving legal opinions etc. Services of freshly
                        qualified Chartered Accountants, Advocates, Cost Accountants, Company Secretaries and those who
                        have completed their Articleship and have cleared their CA examinations partly are made use of.
                    </p>

                </li>
            </ul>
            <ul class="call-to-action1">
                <li><a class="button">Apply Online</a></li>
                <!-- <li><a class="button no-border" href="http://themeforest.net/user/Aether-Themes/portfolio?ref=Aether-Themes" target="_blank">Buy now<i class="icon right"></i></a></li> -->
            </ul>
        </div>

        <!-- Image -->
        <!-- <img class="animated slide"  data-appear-bottom-offset="100" src="images/about.jpg" alt="About Visia"> -->
    </section>
    <!-- End Career -->

    <!-- Apply Online Form -->
    <section id="OnlineForm" class="content container" style="display:block;padding-bottom:30px;">

        <form class="form Neumorphicform" method="post" enctype='multipart/form-data'
            action="contact">
             {% csrf_token %}
            <div class="row">
                <div class="col-10 onlineform textcolor">
                    <label for="fname">Name:</label>
                </div>
                <div class="col-90 formtext">
                    <input type="text" id="fname" name="firstname" placeholder="Enter your name">
                </div>
            </div>

            <div class="row">
                <div class="col-10 onlineform textcolor">
                    <label for="email"> Email ID:</label>
                </div>
                <div class="col-90 formtext">
                    <input type="email" id="email" name="email" placeholder="it should contain @,.">
                </div>
            </div>
            <div class="row">
                <div class="col-10 onlineform textcolor">
                    <label for="address"> Address for Correspondence:</label>
                </div>
                <div class="col-90 formtext">
                    <input type="text" id="address" name="address" placeholder="Address">
                </div>
            </div>
            <div class="row">
                <div class="col-10 onlineform textcolor">
                    <label for="qualifications">Educational Qualifications:</label>
                </div>
                <div class="col-90 formtext">
                    <input type="text" id="qualifications" name="qualifications" placeholder="qualifications">
                </div>
            </div>
            <div class="row">
                <div class="col-10 onlineform textcolor">
                    <label for="experience"> Experience If any:</label>
                </div>
                <div class="col-90 formtext">
                    <input type="text" id="experience" name="experience" placeholder="experience">
                </div>
            </div>
           


            <div class="row">
                <div class="col-10 onlineform ">

                    <input type="submit" name="submit" value="Submit" onclick="SaveStudentDetails()">
                </div>

            </div>
        </form>


    </section>
    <!-- End Apply Online Form -->


    <!-- Contact form start -->
    <section id="section7" class="content container" style="padding-bottom:30px;">
        <div class="title grid-full">
            <h2>Contact</h2>
            <span class="border"></span>

            <ul class="team-list1 clearfix" style="padding-top:30px">
                <li class="team-member grid-2">
                    <div class="name">
                        <h5>Head Office</h5>
                        <ul>
                            <li>
                                <address>No. 46 / 2, I Floor, 4th Cross, Malleswarm
                                    Bangalore - 560 003.
                                    Ph: 080 - 23444712, 23465838, 41280149
                                </address>
                            </li>
                        </ul>
                        <!-- <h6><em>designer</em></h6> -->
                    </div>

                </li>

                <li class="team-member grid-2">
                    <div class="name">
                        <h5> Branch office</h5>
                        <!-- <h6><em>developer</em></h6> -->
                        <ul>
                            <li>
                                <address>No. 250 / 1, Between 16th & 17th Cross
                                    Sampige Road, Malleswarm .
                                    Bangalore - 560 003.
                                    Ph: 080 - 41490274, 65989163

                                </address>
                            </li>
                        </ul>
                    </div>

                </li>
                <li class="team-member grid-2">
                    <div class="name">
                        <h5>Branch office</h5>
                        <!-- <h6><em>developer</em></h6> -->
                        <ul>
                            <li>
                                <address>I Floor, Basavarajendra Complex
                                    RudragudiStreet .
                                    Arasikere – 573 103
                                    Ph: 08174-232308

                                </address>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

            <p class="sub-heading">Your Information on this from will help us serve you better.</p>


            <form class="form Neumorphicform" method="post" id="contactdetails"
                action="">

                <div class="row">
                    <div class="col-10 textcolor">
                        <label for="fname">Name:</label>
                    </div>
                    <div class="col-90">
                        <input type="text" id="firstname" name="firstname" placeholder="Enter First Name"
                           />
                    </div>
                </div>

                <div class="row">
                    <div class="col-10 textcolor">
                        <label for="email"> Email ID:</label>
                    </div>
                    <div class="col-90">
                        <input type="email" id="email" name="email" placeholder="it should contain @,.">
                    </div>
                </div>

                <div class="row">
                    <div class="col-10 textcolor">
                        <label for="Subject">Subject :</label>
                    </div>
                    <div class="col-90">
                        <input type="text" id="subject " name="subject" placeholder="Enter your subject">
                    </div>
                </div>

                <div class="row">
                    <div class="col-10 textcolor">
                        <label for="organization">Organization:</label>
                    </div>
                    <div class="col-90">
                        <input type="text" id="organization" name="organization" placeholder="Enter your Organization">
                    </div>
                </div>

                <div class="row">
                    <div class="col-10 textcolor">
                        <label for="message ">Message :</label>
                    </div>
                    <div class="col-90">
                        <textarea type="text" id="message" name="message" col="50" row="50"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-10">
                        <input type="submit" name="submit" value="Submit" onclick="SaveStudentDetails()">
                    </div>
                </div>

            </form>
        </div>
    </section>
    <!-- Contact form end -->

    <!-- Begin Footer -->
    <footer id="footer" class="clearfix">
        <div class="container">

            <!-- Social Links -->
            <ul class="social-links grid-full">
                <li><a href="http://facebook.com" target="_blank"><img src="{% static 'images/icons/facebook-large.png' %}"
                            alt="facebook" width="36" height="36"></a></li>
                <li><a href="http://twitter.com" target="_blank"><img src="{% static 'images/icons/twitter-large.png' %}" alt="twitter"
                            width="36" height="36"></a></li>
            </ul>

            <!-- Copyright Info -->
            <div class="copyright grid-full">
                <h6>©2013 Visia. All rights reserved.</h6>
            </div>

        </div>
    </footer>
    <!-- End Footer -->

    <!-- Javascript -->
    <script src="{% static 'javascript/royal-preloader.js' %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    //Replace with your own image's paths
    var images = {
        'parallax1': 'http://www.aetherthemes.com/demo/visia/images/hero.jpg',
        'parallax2': 'http://www.aetherthemes.com/demo/visia/images/services-red.jpg',
        'parallax3': 'http://www.aetherthemes.com/demo/visia/images/clients.jpg',
        'About Us': 'http://www.aetherthemes.com/demo/visia/images/about.jpg',
        'Team': 'http://www.aetherthemes.com/demo/visia/images/team.jpg',
        'Thumb1': 'http://www.aetherthemes.com/demo/visia/images/thumbnails/project1.jpg',
        'Thumb2': 'http://www.aetherthemes.com/demo/visia/images/thumbnails/project2.jpg',
        'Thumb3': 'http://www.aetherthemes.com/demo/visia/images/thumbnails/project3.jpg',
        'Thumb4': 'http://www.aetherthemes.com/demo/visia/images/thumbnails/project4.jpg',
        'Thumb5': 'http://www.aetherthemes.com/demo/visia/images/thumbnails/project5.jpg',
        'Thumb6': 'http://www.aetherthemes.com/demo/visia/images/thumbnails/project6.jpg',
        'Thumb7': 'http://www.aetherthemes.com/demo/visia/images/thumbnails/project7.jpg',
        'Thumb8': 'http://www.aetherthemes.com/demo/visia/images/thumbnails/project8.jpg'
    };

    // config
    Royal_Preloader.config({
        mode: 'number',
        images: images,
        timeout: 10,
        showInfo: false,
        background: ['#ffffff']
    });
    </script>
    <script>
    function fileValidation() {
        var fileInput =
            document.getElementById('resume');

        var filePath = fileInput.value;

        // Allowing file type
        var allowedExtensions =
            /(\.doc|\.docx|\.pdf)$/i;

        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type');
            fileInput.value = '';
            return false;
        }
    }
    </script>
    <script src="{% static 'javascript/retina.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'javascript/waypoints.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'javascript/parallax.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'javascript/navigation.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'javascript/jquery.mixitup.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'javascript/jquery.easing.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'javascript/jquery.fittext.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'javascript/jquery.localscroll.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'javascript/jquery.scrollto.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'javascript/jquery.appear.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'javascript/jquery.waitforimages.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'javascript/jquery.bxslider.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'javascript/jquery.fitvids.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'javascript/main.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'javascript/shortcodes.js' %}" type="text/javascript" charset="utf-8"></script>

    <script >

    </script>

</body>

</html>